# Java

*.class
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle

build/
dist/
.gradle/

# Netbeans

nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# Eclipse

.classpath
.project
.settings/

# IntelliJ

.idea/
out/
# if you remove the above rule, at least ignore user-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# and these sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml

## File-based project format
*.ipr
*.iml
*.iws
