/**
 * Copyright 2012-2016 Michael Hoffer <info@michaelhoffer.de>. All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without modification, are
 * permitted provided that the following conditions are met:
 *
 *    1. Redistributions of source code must retain the above copyright notice, this list of
 *       conditions and the following disclaimer.
 *
 *    2. Redistributions in binary form must reproduce the above copyright notice, this list
 *       of conditions and the following disclaimer in the documentation and/or other materials
 *       provided with the distribution.
 *
 * Please cite the following publication(s):
 *
 * M. Hoffer, C.Poliwoda, G.Wittum. Visual Reflection Library -
 * A Framework for Declarative GUI Programming on the Java Platform.
 * Computing and Visualization in Science, 2011, in press.
 *
 * THIS SOFTWARE IS PROVIDED BY Michael Hoffer <info@michaelhoffer.de> "AS IS" AND ANY EXPRESS OR IMPLIED
 * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
 * FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL Michael Hoffer <info@michaelhoffer.de> OR
 * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
 * ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 * NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
 * ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * The views and conclusions contained in the software and documentation are those of the
 * authors and should not be interpreted as representing official policies, either expressed
 * or implied, of Michael Hoffer <info@michaelhoffer.de>.
 */
/* 
    Document   : default.css
    Created on : 08.10.2012, 10:17:51
    Author     : Michael Hoffer  &lt;info@michaelhoffer.de&gt;
    Description:
        Purpose of the stylesheet follows.
*/

.vflow-background {
    -fx-background-color: linear-gradient(to bottom, rgb(10,32,60), rgb(42,52,120));
}

.window {
    -fx-background-color: rgba(120,140,255,0.2);
    -fx-border-color: rgba(120,140,255,0.42);
    -fx-border-width: 2;
}

.vnode-connector {
    -fx-background-color: rgba(0,0,0,0.75);
    -fx-stroke: rgba(120, 140, 255, 0.42);
    -fx-border-width: 2px; 
    -fx-border-color: rgba(120, 140, 255, 0.72);
    -fx-shape: "m 187.92089,378.88528 a 12.94066,12.94066 0 0 1 -12.94067,12.94066 12.94066,12.94066 0 0 1 -12.94066,-12.94066 12.94066,12.94066 0 0 1 12.94066,-12.94066 12.94066,12.94066 0 0 1 12.94067,12.94066 z"
}

.vnode-connector-control {
    -fx-background-color: rgba(255,255,0,0.75);
    -fx-stroke: rgba(120, 140, 255, 0.42);
/*    -fx-border-color: rgba(255,255,0,0.75);*/
}

.vnode-connector-event {
    -fx-background-color: rgba(255,100,255,0.75);
    -fx-stroke: rgba(120, 140, 255, 0.42);
    /*-fx-border-color: rgba(255,100,255,0.75);*/
}

.vnode-connector-data {
    -fx-background-color: rgba(10,10,10,0.75);
    -fx-stroke: rgba(120, 140, 255, 0.42);
    /*-fx-border-color: rgba(10,10,10,0.75);*/
}

.vnode-connection {
    -fx-stroke: rgba(120,140,255,0.2);
    -fx-stroke-width: 5px;
}

.vnode-new-connection {
    -fx-stroke: rgba(120,140,255,0.2);
    -fx-stroke-width: 5px;
}

.window-titlebar {

    -fx-background-color: rgba(20,20,45,0.4);
    -fx-border-color: rgba(120,140,255,0.42);
    -fx-border-width: 0;
    -fx-padding: 6 4 3 4;
    -fx-background-insets: 2 2 -2 2;

    -fx-alignment: center;
    -fx-fill: rgba(255,255,255,50);
}

.scroll-pane .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}
