/* 
    Document   : default.css
    Created on : 08.10.2012, 10:17:51
    Author     : Michael Hoffer <info@michaelhoffer.de>
    Description:
        Purpose of the stylesheet follows.
*/

.connection-pane {
    -fx-skin: 
}

.window {

}


.my-titlebar {

}