/* 
    Document   : default.css
    Created on : 08.10.2012, 10:17:51
    Author     : Michael Hoffer <info@michaelhoffer.de>
    Description:
        Purpose of the stylesheet follows.
*/

.connector {
/*    -fx-fill : radial-gradient(center 50% 25%,
                               radius 75%,
                               rgb(122,255,77) 0%,
                               rgb(0,102,0) 100%);*/
    
/*    -fx-effect: dropshadow(gaussian,
                           rgba(0, 0, 0, 0.65),
                           10, 0.0, 5, 5);*/
}

.window {

}


.my-titlebar {

}